
body {
	font-size: 1.2em;
	font-family: 'Varela Round', sans-serif;
	/*color: #fff;*/
	/*background: #e8e9e9;*/
	/*padding-left: 5%;*/
	/*padding-right: 5%;*/
}

.container {
	
	/*background:  pink;*/
	margin: 15px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: space-between;

}

.item {
	width: 30%;
	/*height: 100px;*/
	/*color: #fff;*/
	padding: 15px;
	margin: 15px;	
	/*background: #3db5da;*/
	border: 2px solid;
	border-color: blue;
}